@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");


%a-none-underline{
    a{
        text-decoration: none;
        color: #2f3f40;
        &:hover{
            &::before{
                color: #3c9b9c;
            }
            color: #3caaaa;
        }
    }
}
.header{
    display: flex;
    background-color: #17ffff;
    color: #2f3f40;
    justify-content: space-between;
    align-items: center;
    direction: rtl;
    ul{
        list-style-type: none;
    }
    @extend %a-none-underline;
    
   
}
.info{
    margin: 0;
    direction: rtl;
#skills{
    display: flex;
    
    direction: ltr;
    flex-direction: column;
  .skill{
    display: flex;
    align-items: center;
    
    progress{
        margin-left:5px;
        width:200px;
        height: 20px;
        border:none;
        background-color: #2f3f40;
        box-shadow: none;
        &::-webkit-progress-bar{
            background-color: #17ffff;
        }
        &::-moz-progress-bar {
            background-color:#17ffff;
       }
    }
}  
}

#profile{
    direction: rtl;
    display: flex;
    flex-direction: column;
    
}
}
h2{
        direction:rtl;
    }
.protiflo{
    display: flex;
    
    direction: rtl;
    width: 100%;
    height: auto;
    
    &-card{
        padding: 0;
        img{
            width:100%;
            height: 80%;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
        #information{
            background-color:#5e898b ;
            height: max-content;
            border-bottom-right-radius: 25px;
            border-bottom-left-radius: 25px;
        }
        height: 300px;
        border-radius: 15px;
        @extend %a-none-underline;
        
        .tags{
            display: flex;
            flex-direction: row;
        }
        .tag{
            background-color: #4f854a;
            width: max-content;
            padding: 4px;
            margin: 3px;
            border-radius: 25%;
        }
    }
}
.row{
        margin: 0;
    }