@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.min.css");
@import "color";

%a-none-underline {
    a {
        text-decoration: none;
        color: $color4;

        &:hover {
            &::before {
                color: $color1;
            }
            
            color: $color1;
            span{
                animation: show-animation 5s ease-in-out infinite alternate;
            }
            
        }
    }
}

body {
    .row {
        margin: 0;
    }

    background-color: $color1;
    color:$color4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $color3;


    direction: rtl;
    ul {
        display: flex;
        flex-direction: column;
        
        list-style-type: none;  
        direction: ltr;
       i{
        font-size: 24px;
        padding-right: 3px
    
       }
       
       
    }
    @extend %a-none-underline;
}

.info {
    margin: 0;
    direction: rtl;
    #skills {
        display: flex;
        flex-direction: column;
        direction: ltr;
        .skill {
            display: flex;
            .nameSkill{
                width: 10rem;
            }
            
            progress {
                margin-left: 5px;
                width: 200px;
                height: 20px;
                border: none;
                border-radius: 5px;
                background-color: $color3;
                box-shadow: none;
                &::-webkit-progress-bar {
                    background-color: $color2;
                }
                &::-moz-progress-bar {
                    background-color: $color2;
                }
            }
        }
    }
    #profile {
        display: flex;
        flex-direction: column;
        direction: rtl;
    }
}

.protiflo {
    display: flex;
    direction: rtl;
    width: 100%;
    height: auto;
    h2 {
        direction: rtl;
    }

    &-card {
        padding: 0;
        
        img {
            width: 100%;
            height: 80%;

            border-radius: 20px 20px 0 0;
        }
        #information {
            background-color: $color2 ;
            direction: ltr;
            height: max-content;
            border-radius: 0 0 20px 20px;
           
        }
        height: 300px;
        border-radius: 15px;
        @extend %a-none-underline;
        .tags {
            display: flex;
            flex-direction: row;
            direction: ltr;
            .tag {
            background-color: $color3;
            width: max-content;
            padding: 5px;
            margin: 5px;
            border-radius: 25%;
        }
        }
        
    }
}
@keyframes show-animation {
    
    0%{ 
        
        
    }
    50%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
    
}